@{
    ViewBag.Title = "Información";
}
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://www.carrerasenlinea.mx/logos/original/logo-instituto-politecnico-nacional.png" class="rounded float-left"
                 alt="ESIME" height="140px">
        </div>
        <div class="col-8">
            <div class="text-center">
                <h3>Intituto Politécnico Nacional</h3>
                <h4>Escuela Superior de Ingenieria Electrica</h4>
                <h5>Unidad Culhúacan</h5>
            </div>
            <p class="text-justify">
                Trabajo elaborado por
                <strong>Euler Chavez Hernandez</strong> de la carrera de
                <strong>Ingeniería en Computación</strong> en conjunto con los asesores, la
                <strong>Dra. Clara Cruz Ramos</strong> y el
                <strong>Dr. Rogelio Reyes Reyes</strong>.
                <br>
                <br>Quiero agradecer con alegría y satisfacción que sin mis asesores y todos los profesores que compartieron su conocimiento,
                experiencia e incluso amistad, este camino habría sido aun más largo.
                <br>
                <br><em>Gracias por ayudarme a concluir este pequeño gran exito.</em>
            </p>
        </div>
        <div class="col">
            <img src="http://www.esimez.ipn.mx/conocenos/PublishingImages/logoesime.png" class="rounded float-right" alt="IPN" height="120px">
        </div>
    </div>
</div>
